*, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    line-height: 1.5em;
}

h4 {
    margin: 0;
    text-align: center;
    font-size: 1em;
}

/* Header */

header {
    height: 60px;
    padding-top: 1.25em;
}

nav { height: 40px; }

nav > ul {
    display: flex;
    padding: 0px;
}

.nav-link, .view-more-link{ 
    text-decoration: none;
    color: inherit;
}

li { list-style: none; }

.head { font-weight: 700; }

.about, .home { font-weight: 600; }

.home { margin-left: auto; }

.about{
    margin-right: 1.3em;
    padding-left: 1.875em;
}

.logo {
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: inline-block;
}

.hero-el {
    width: 100%;
    height: 320px;
    background-image: url('images/article-image-hero.png');
    background-size: cover;
    color:rgba(255, 255, 255, 1);
    padding: 0 1.125em;
}

/* view more */

.hero-el-after {
    max-width: 374px;
    height: 1200px;
    background: none;
    margin: -62px auto;
}

.describe-head {
    font-weight: 700;
}

.description {
    margin-top: 35px;
    margin-bottom: 51px;
}

.description p {
    margin-bottom: 1em;
}

.hero-img {
    width: 374px;
    height: 232px;
    border-radius: 3px;
    margin: 10px 0px 5px 0px;
}

.blog-head-content {
    margin-bottom: 20px;
}

/* view more end */

h1 > span { display: inline-block; }

.date, .blog-head { padding-bottom: 0.5em; }

.date { padding-top: 5.4375em; }

/* main */

.wrapper {
    max-width: 374px;
    margin: 2.125em auto;
}

section img+p, h2{
    margin-bottom: 0.5625em;
}

section img + p {
    margin-top: 0.875em;
}

h2 + p {
    margin-bottom: 2.625em;
}

.view-more-link {
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline;
}

.view-more {
    text-align: center;
}

/* footer */
footer {
    height: 105px;
    background: #202020;
    color: rgba(215, 215, 215, 1);
    text-align: center;
    padding-top: 37px;
}

footer > p { font-weight: 700; }

footer p + p { font-weight: 100; }