*, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    line-height: 1.5em;
}

h4 {
    margin: 0;
    text-align: center;
    font-size: 1em;
}

img {
    background-size: cover;
}

/* Header */

header {
    height: 60px;
    padding-top: 1.25em;
}

nav { height: 40px; }

nav > ul {
    display: flex;
    padding: 0px;
}

.nav-link, .view-more-link{ 
    text-decoration: none;
    color: inherit;
}

li { list-style: none; }

.head { font-weight: 700; }

.about, .home { font-weight: 600; }

.home { margin-left: auto; }

.about{
    margin-right: 1.3em;
    padding-left: 1.875em;
}

.logo {
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: inline-block;
}

.hero-el {
    width: 100%;
    height: 320px;
    background-image: url('images/article-image-hero.png');
    background-size: cover;
    color:rgba(255, 255, 255, 1);
    padding: 0 1.125em;
}


/* view more */

.view-more-el, .about-me-block{
    display: none;
}

.hero-el-after {
    max-width: 374px;
    height: 1230px;
    background: none;
    margin: -62px auto;
}

.describe-head {
    font-weight: 700;
}

.description {
    margin-top: 35px;
    margin-bottom: 51px;
}

.description p {
    margin-bottom: 1em;
}

.hero-img {
    width: 374px;
    height: 232px;
    border-radius: 3px;
    margin: 10px 0px 5px 0px;
}

.blog-head-content {
    margin-bottom: 20px;
}

/* view more end */

h1 > span { display: inline-block; }

.date, .blog-head { padding-bottom: 0.5em; }

.date { padding-top: 5.4375em; }

/* main */

.wrapper {
    max-width: 374px;
    margin: 2.125em 6em;
}

.wrapper > section {
    max-width: 309px;
}

section img+p, h2{
    margin-bottom: 0.5625em;
}

section img + p {
    margin-top: 0.875em;
}

section > img {
    max-width: 300px;
    height: 232px;
}

h2 + p {
    margin-bottom: 2.625em;
}

.view-more-link {
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline;
}

.view-more {
    text-align: center;
    margin-bottom: 3.125em;
}

/* footer */
footer {
    height: 105px;
    background: #202020;
    color: rgba(215, 215, 215, 1);
    text-align: center;
    padding-top: 37px;
}

footer > p { font-weight: 700; }

footer p + p { font-weight: 100; }


/* about me */
.about-me-block {
    max-width: 374px;
    margin: 1.625em auto;
}

.avatar-img {
    margin-bottom: 0.625em;
}

/* media queries */

@media screen and (min-width: 650px) {

    h1 > span {
        display: inline;
    }

    .hero-el {
        height: 488px;
        background-size: cover;
    }

    .hero-el > div {
        width: 670px;
        padding: 200px 0 0 56px;
    }
    
    .wrapper {
        display: grid;
        max-width: 980px;
        margin: 2.125em auto;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 0.5em;
    }

    .view-more-el {
        max-width: 844px;
        height: 1120px;
        /* border: 2px solid black; */
        margin: 0 auto;
    }

    .hero-img {
        width: 980px;
        height: 488px;
        margin-left: -50px;
    }

    .about-me-block {
        max-width: 911px;
    }

    .about-me-block > .about-head {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "avatar header header header"
            "avatar para para para"
        ;
        gap: 0.5em;
    }

    .blog-head-content {
        grid-area: para;
    }

    .blog-head {
        margin: 20px 0 -5px 0px;
        grid-area: header;
    }

    .avatar-img {
        grid-area: avatar;
    }

  }